@charset "UTF-8";
/* Dark Theme */

.theme-dark {
    background-color: black;
    color: #cccccc; }
.theme-dark a {
    color: #66bbff; }
.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6 {
    color: white; }
.theme-dark .badge {
    color: #cccccc; }
.theme-dark .badge {
    background-color: black;
    color: #999999; }
.theme-dark a.block {
    color: inherit; }
.theme-dark a.block {
    color: #66bbff; }
.theme-dark .button {
    background-color: #0070c9;
    background: -webkit-linear-gradient(#42a1ec, #0070c9);
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    color: white; }
.theme-dark .button:hover {
    background-color: #147bcd;
    background: -webkit-linear-gradient(#51a9ee, #147bcd);
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0; }
.theme-dark .button:active {
    background-color: #0067b9;
    background: -webkit-linear-gradient(#3d94d9, #0067b9);
    background: linear-gradient(#3d94d9, #0067b9);
    border-color: #006dbc; }
.theme-dark .button-secondary {
    background-color: #e3e3e3;
    background: -webkit-linear-gradient(white, #e3e3e3);
    background: linear-gradient(white, #e3e3e3);
    border-color: #d6d6d6;
    color: #0070c9; }
.theme-dark .button-secondary:hover {
    background-color: #eeeeee;
    background: -webkit-linear-gradient(white, #eeeeee);
    background: linear-gradient(white, #eeeeee);
    border-color: #d9d9d9; }
.theme-dark .button-secondary:active {
    background-color: gainsboro;
    background: -webkit-linear-gradient(#f7f7f7, gainsboro);
    background: linear-gradient(#f7f7f7, gainsboro);
    border-color: #d0d0d0; }
.theme-dark .callout, .theme-dark .warning, .theme-dark .alert, .theme-dark .success, .theme-dark .box {
    background-color: #111111;
    border-color: #333333;
    margin: 1.47059em auto;
    padding: 2.23529em 8.33333% 2.11765em;
    color: #cccccc; }
.theme-dark .callout .callout-title, .theme-dark .warning .callout-title, .theme-dark .alert .callout-title, .theme-dark .success .callout-title {
    color: white; }

.theme-dark input[type=text],
.theme-dark input[type=email],
.theme-dark input[type=number],
.theme-dark input[type=password],
.theme-dark input[type=tel],
.theme-dark input[type=url],
.theme-dark textarea,
.theme-dark .box,
.theme-dark .document-display, {
    color: #ccc;
    border-color: rgba(214, 214, 214, 0.2);
    background-color: rgba(255, 255, 255, 0.1); }

.theme-dark .form-box,
.theme-dark input[type=file] {
    color: #ccc;
    background-color: rgba(255, 255, 255, 0.1); }

/* Backgrounds */

.bg-light {
    background-color: #fafafa;
}

.bg-dark {
    background-color: #000;
    color: #FFF; }

/* Boxes and Models */


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;

}


.form-box {
    display: inline-block;
    width: 100%;
    border: 1px solid transparent;
    background: #FAFAFA;
    padding: 0.75em 1em 0.75em;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    color: black; !important;
    width: 40% !important;}


textarea {
    margin: 0;
    width: 100%;
    height: 34px;
    font-family: inherit;
    font-size: 100%;
    font-weight: 400;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0 1em 0;
    position: relative;
    z-index: 1;
    color: #333333;
    vertical-align: top;
    width: 40%;}
textarea:focus {
    -webkit-appearance: none;
    border-color: #0088cc;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0, 136, 204, 0.3);
    z-index: 9; }
textarea {
    min-height: 134px;
    resize: vertical;
    line-height: 1.4737;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }

.document-display {
    margin: 1em 0;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding: 0.75em 1em 0.75em;
    line-height: 1.5em;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #FFF;
    word-wrap: break-word;
    width: 80%;}

.highlight-border-grey {
    background: transparent;
    border: 1px solid #999999;
    color: #999999;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    font-size: 11px;
    line-height: 1.27273;
    font-weight: 400;
    letter-spacing: normal;
    margin-left: 12px;
    border-radius: 3px;
    padding: 2px 8px 0;
    vertical-align: middle; }

.highlight-frameless {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -0.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #e85d00;
    display: block; }

.highlight-border {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -0.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #e85d00;
    background: transparent;
    border: 1px solid #e85d00;
    border-radius: 4px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 4px;
    white-space: nowrap; }


.select-cursor:hover {
    cursor: pointer;
}

.button {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -0.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #0070c9;
    background: -webkit-linear-gradient(#42a1ec, #0070c9);
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-align: center;
    white-space: nowrap; }
.button:hover {
    background-color: #147bcd;
    background: -webkit-linear-gradient(#51a9ee, #147bcd);
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
    text-decoration: none; }
.button:focus {
    box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
    outline: none; }
.button:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select), .button:focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
    box-shadow: none; }
.button:active {
    background-color: #0067b9;
    background: -webkit-linear-gradient(#3d94d9, #0067b9);
    background: linear-gradient(#3d94d9, #0067b9);
    border-color: #006dbc;
    outline: none; }
.button:disabled, .button.disabled {
    background-color: #0070c9;
    background: -webkit-linear-gradient(#42a1ec, #0070c9);
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    color: white;
    cursor: default;
    opacity: 0.3; }

.callout, .warning, .alert, .success, .box{
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -0.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    margin: 1.47059em auto;
    padding: 2.23529em 8.33333% 2.11765em;
    color: #333333; }

.callout-title {
    font-size: 32px;
    line-height: 1.09375;
    font-weight: 500;
    letter-spacing: 0.011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0;
    color: #333333; }

.callout-environment {
    background-color: #f6f6ee;
    border-color: transparent;
    margin: 1.47059em auto;
    padding: 2.23529em 8.33333% 2.11765em;
    color: #333333; }
.callout-environment .callout-title {
    color: #548c8c; }

.callout, .warning, .alert, .success {
    background-repeat: no-repeat;
    background-position: 1em 0.65em;
    background-size: 48px 48px; }

.warning {
    background-repeat: no-repeat;
    background-position: 1em 0.65em;
    background-size: 48px 48px;
    border: 1px solid #DDD8BB !important;
    background-color: #FEFEEE !important;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNDhweCIgaGVpZ2h0PSI0OHB4IiB2aWV3Qm94PSIwIDAgNDggNDgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ4IDQ4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCgk8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiNDRUJFN0EiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgZD0iTTIzLDguNDA5YzAuNTUtMC45NTMsMS40NS0wLjk1MywyLDBsMTgsMzEuMTgyDQoJCQljMC41NSwwLjk1MywwLjEsMS43MzItMSwxLjczMkg2Yy0xLjEsMC0xLjU1LTAuNzc5LTEtMS43MzJMMjMsOC40MDl6Ii8+DQoJPGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjQ0VCRTdBIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHgxPSIyNCIgeTE9IjE3Ljg3NCIgeDI9IjI0IiB5Mj0iMzIuNzA2Ii8+DQoJPGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjQ0VCRTdBIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHgxPSIyNCIgeTE9IjM0LjgxNSIgeDI9IjI0IiB5Mj0iMzcuMzIzIi8+DQo8L3N2Zz4NCg==");
    color: black !important;}

.alert {
    background-repeat: no-repeat;
    background-position: 1em 0.65em;
    background-size: 48px 48px;
    border: 1px solid #FB6473 !important;
    background-color: #F9D5D8 !important;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNDhweCIgaGVpZ2h0PSI0OHB4IiB2aWV3Qm94PSIwIDAgNDggNDgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ4IDQ4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCgk8Y2lyY2xlIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0Y1NjY3NyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBjeD0iMjQiIGN5PSIyNCIgcj0iMjAiLz4NCgk8bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiNGNTY2NzciIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjE2LjIwOCIgeTE9IjE2LjIwOSIgeDI9IjMxLjc5MSIgeTI9IjMxLjc5MiIvPg0KCTxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0Y1NjY3NyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiB4MT0iMTYuMjA4IiB5MT0iMzEuNzkyIiB4Mj0iMzEuNzkxIiB5Mj0iMTYuMjA5Ii8+DQo8L3N2Zz4NCg==");
    color: black !important;}

.success {
    background-repeat: no-repeat;
    background-position: 1em 0.65em;
    background-size: 48px 48px;
    border: 1px solid #50d84e !important;
    background-color: #cff3cf !important;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNDhweCIgaGVpZ2h0PSI0OHB4IiB2aWV3Qm94PSIwIDAgNDggNDgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ4IDQ4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCgk8Y2lyY2xlIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzYwRDU1QyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBjeD0iMjMuOTc1IiBjeT0iMjMuNDg4IiByPSIyMCIvPg0KCTxwb2x5bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiM2MEQ1NUMiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgcG9pbnRzPSIxNC40MzQsMjUuMjY2IDIxLjEyMSwzMS45NTMgMzMuNzQ1LDE5LjMyOCAJIi8+DQo8L3N2Zz4NCg==");
    color: black !important;}

.eyebrow {
    font-size: 22px;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.016em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    display: block;
    margin-bottom: 20px; }

.paddlenav-arrow {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    color: rgba(0, 0, 0, 0.44);
    display: block;
    font-size: 53px;
    font-style: normal;
    line-height: 90px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    -webkit-transition: 250ms background-color linear, 250ms color linear, 250ms opacity linear;
    transition: 250ms background-color linear, 250ms color linear, 250ms opacity linear; }

.badge {
    border: solid;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    border-color: rgb(229, 37, 43);
    background-color: rgb(210, 30, 37);
    color: white;
    padding: 2px;
    padding-left: 20px;
    padding-right:20px;
    font-size: 68px;
    line-height: 1;
    font-weight: 200;
    letter-spacing: 0.003em;
    text-align: center;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.selection-box {
    display:block;
    border-radius:3px;
    padding:24px;
    margin-bottom: 1.5em;
    color: #0088cc;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.selection-box p {
    margin-bottom:0.5em;
}

.selection-box .smaller {
    color:#333;
    margin-bottom:0;
}

.selection-box:hover {
    text-decoration: none;
    background-color: #fafafa;}

/* Tags */


button {
    background: none;
    border: 0;
    box-sizing: content-box;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    vertical-align: inherit; }
button:disabled {
    cursor: default; }


body {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -0.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: white;
    color: #333333;
    font-style: normal; }

a {
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 11px 0;
    color: #666666;
    text-align: left;
    text-decoration: none;
    display: block;
    margin-bottom: 4px;
    position: relative;
    z-index: 0; }

a:hover {
    color: #0070c9;
    text-decoration: none;
    cursor: pointer;}


/* Modes */


.nobr {
    white-space: nowrap
}

.text-center {
    text-align: center; }

.text-right {
    text-align: right; }

.text-left {
    text-align: left; }

.blur {
    -webkit-backdrop-filter: blur(5px) saturate(120%);
    -moz-backdrop-filter: blur(5px) saturate(120%);
    -o-backdrop-filter: blur(5px) saturate(120%);
    backdrop-filter: blur(5px) saturate(120%); }

.sticky,
.sticky-header {
    position: relative;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #d6d6d6;
    z-index: 9; }
.sticky-header {
    background-color: rgba(249, 249, 249, 0.9);
}

.hidden {
    display: none !important;
    opacity: 0; }

.visuallyhidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0; }

/* Typography */

.typo-product-elevated {
    font-size: 56px;
    line-height: 1.10746;
    font-weight: 500;
    letter-spacing: 0.004em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-product {
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 500;
    letter-spacing: 0.006em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-product-reduced {
    font-size: 32px;
    line-height: 1.5625;
    font-weight: 500;
    letter-spacing: 0.011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-tagline-elevated {
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 500;
    letter-spacing: 0.006em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-tagline {
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 300;
    letter-spacing: 0.006em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-tagline-reduced {
    font-size: 40px;
    line-height: 1.15;
    font-weight: 300;
    letter-spacing: 0.008em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-hero-headline {
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 500;
    letter-spacing: 0.006em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-hero-subhead {
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 300;
    letter-spacing: 0.006em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-section-headline {
    font-size: 40px;
    line-height: 1.05;
    font-weight: 500;
    letter-spacing: 0.008em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-section-subhead {
    font-size: 40px;
    line-height: 1.05;
    font-weight: 300;
    letter-spacing: 0.008em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-subsection-headline {
    font-size: 32px;
    line-height: 1.09375;
    font-weight: 500;
    letter-spacing: 0.011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-subsection-subhead {
    font-size: 32px;
    line-height: 1.09375;
    font-weight: 300;
    letter-spacing: 0.011em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-label {
    font-size: 24px;
    line-height: 1.20849;
    font-weight: 500;
    letter-spacing: 0.015em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-intro {
    font-size: 22px;
    line-height: 1.45455;
    font-weight: 300;
    letter-spacing: 0.016em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-body {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -0.021em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-subbody-headline {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-subbody {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-caption {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-scaption {
    font-size: 11px;
    line-height: 1.45455;
    font-weight: 400;
    letter-spacing: 0.005em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.typo-captions-grey {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #666666; }

